<div class="lm-preheader">
  <div id="owl-small-top-banner" class="owl-carousel" animation_type="" style="display: block;">
    <div class="item" data-interval="5">
      <div class="drpdwn">
        <div class="inner" style="display: table;">
          <a href="https://leroymerlin.ru/nckd/" target="_blank">НИЗКИЕ ЦЕНЫ КАЖДЫЙ ДЕНЬ</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-panel">
    <div class="container">
      <nav class="nav-main">
        <ul class="nav-main__list">
          <li class="nav-main__item">
            <a href="https://community.leroymerlin.ru/t5/Blog/bg-p/BlogLM" class="nav-main__link"><i class="icon icon-blog"></i><span class="text">Блог</span></a>
          </li>
          <li class="nav-main__item">
            <a href="https://forum.leroymerlin.ru/" class="nav-main__link"><i class="icon icon-discussion"></i><span class="text">Форум</span></a>
          </li>
          <li class="nav-main__item">
            <a href="https://leroymerlin.ru/shop/" class="nav-main__link"><i class="icon icon-placemarker"></i><span class="text">Магазины</span></a>
          </li>
          <li class="nav-main__item">
            <a href="https://leroymerlin.ru/slovari/" class="nav-main__link"><i class="icon icon-dictionary"></i><span class="text">Словарь</span></a>
          </li>
        </ul>
        <div class="custom-auth-panel">
          {{mount-widget widget="lm-preheader-user-panel"}}
        </div>
      </nav>
    </div>
  </div>
</div>
